header {

    background-color: #1F2937;
    padding: 32px 100px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {

    display: flex;
    justify-content: start;
}

.hero {
    background-color: #1F2937;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;


}

.hero-cta {


    display: flex;
    flex-direction: column;
    width: 500px;
    box-sizing: border-box;




}

.hero-cta .test {

    color: white;
    font-size: 48px;
    font-weight: bolder;
    text-align: left;
    margin: 0;

}

.hero-cta .snippet {

    color: white;
    font-size: 18px;
    text-align: left;


}

.hero-button {


    color: black;
    width: 200px;
    background-color: rgb(241, 198, 3);
    font-size: 18px;
    font-weight: 700;
    padding: 12px;


}

header a {

    color: white;
    text-decoration: none;
    font-size: 18px;


}

.header-links {

    display: flex;
    gap: 16px;
    justify-content: end;
    align-items: center;

}

body {

    margin: 0;
    display: flex;
    flex-direction: column;
    
}



.info {

    background-color: whitesmoke;
    padding-top: 60px;
    padding-bottom: 80px;
}


.info-block {

display: flex;
gap: 36px;
justify-content: center;



}

.info-snippet img {

    border-radius: 12px;
    margin-bottom: 24px;
}

.subheadline {

    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #1F2937;
    margin-top: 0;
    margin-bottom: 60px;
}

.info-snippet .bold {

    font-weight: bold;
    width: 250px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 24px;




}

.info-snippet p {

    width: 240px;
    text-align: center;
}




.quote {

    background-color: #e5e7eb;
    display: flex;
flex-direction: column;

    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 70px;

}

.full-quote {

    width: 1200px;
    

}

.quote .full-quote {

    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;

}

.person {
width: 1200px;


}

.quote .person {


    font-size: 24px;
    font-weight: bold;
    text-align: right;
    
    
}














footer {

    background-color: #1F2937;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}